*{
    margin: 0px;
    text-align: center;
}
/*Heading design*/
.gameName{
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px 0px 100px 0px;
}
#para{
    font-size: 1.6rem;
    text-decoration: underline;
    font-family: sans-serif;
    color:darkslategray;
}
.img{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
}

/*images design*/
.choices{
    margin-top: 100px ;
}
.choice{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.scoreBoard{
    display: flex;
    justify-content: center;
}
.scoreCard{
    background-color: aliceblue;
    height: 70px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    gap: 100px;
    justify-content: center;
}
.score{
    margin-top: 3px;
}
.playerName{
    font-weight: bolder;
    font-size: 1.2rem;
}
.reset{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn{
    color: white;
    background-color: black;
    font-size: 1.2rem;
    border: 2px solid darkolivegreen;
    border-radius: 5px;
}
.btn:hover{
    box-shadow: 2px 2px 10px black;
}
.img:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}
